# Banco de dados
POSTGRES_USER=pedidos
POSTGRES_PASSWORD=pedidos
POSTGRES_DB=pedidos

# "postgres" e o nome do servico no docker-compose
DATABASE_URL=postgresql+psycopg2://pedidos:pedidos@postgres:5432/pedidos
